# Apache configuration for fmsgame.
#
# For development ignore this, you can just run python manage.py runserver as for any
# Django application.
#
# Copyright (c) 2010 UK Citizens Online Democracy. All rights reserved.
# Email: duncan@mysociety.org; WWW: http://www.mysociety.org

WSGIDaemonProcess example.com user=fmsgame group=fmsgame processes=5 threads=1 display-name=example.com
WSGIProcessGroup example.com

WSGIScriptAlias / /data/vhost/example.com/docs/django.wsgi

Alias /media /var/lib/python-support/python2.5/django/contrib/admin/media
Alias /static /data/vhost/example.com/docs/static

