<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title></title>
        <script src=/static/js/external/jquery.js></script>
        <script src=/static/js/external/gears_init.js></script>
        <script src=/static/js/external/geo.js></script>
        <script type="text/javascript">
            var wtfGlobal_view = '{{ device }}';
        </script>
        <script src=/static/js/main.js></script>
    </head>
    <body>
        <p>Where are you?</p>

        <div id="message">message goes here</div>

        <div id="autolocate">...autolocate...</div>

    </body>
</html>
