{% extends "base.html" %}

{% block window_title %}Where are you?{% endblock %}
{% block main_title %}Where are you?{% endblock %}

{% block scripts %}
        <script src=/static/js/external/jquery.js></script>
        <script src=/static/js/main.js></script>
{% endblock %}

{% block content %}
        <p>In order to play the game we need to know the location of your handset. Please click the 'locate me now' link and approve any requests your browser makes for location information.</p>

        <div id="autolocate_ui">...loading...</div>
{% endblock %}
