{% extends "base.html" %}

{% block window_title %}Already Done{% endblock %}
{% block main_title %}You've already done this issue!{% endblock %}

{% block scripts %}
  <script src=/static/js/external/jquery.js></script>
  <script src=/static/js/external/distance.js></script>
  <script src=/static/js/main.js></script>
{% endblock %}

{% block content %}
        <p><strong>Problem:</strong> {{ issue_title }}</p>
	<p><strong>Summary:</strong> {{ issue_summary }}</p>
        <span id="target_lat" value="{{ target_lat }}" />
        <span id="target_long" value="{{ target_long }}" />
        <p><strong>Distance: </strong><span id="issue_distance">...calculating...</span></p>
	<p>You marked this issue as <strong>{{ last_issue_status }}</strong></p>

	<span id="autolocate_text" value="Back to the game!" />
        <div id="autolocate_ui">...loading...</div>
{% endblock %}
