<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Now: win points!</title>
    </head>
    <body>
        <p>
            You can <strong>win points</strong>
            by choosing an option below!
        </p>
        
        <p>
            This problem is:
        <p>
            <form action="" method="post">
                <input type="hidden" name="state" value="fixed">
                <input type="submit" value="FIXED" />
            </form>
        </p>
        <p>
            <form action="" method="post">
                <input type="hidden" name="state" value="notfixed">
                <input type="submit" value="NOT FIXED" />
            </form>
        </p>
        <p>
            <form action="" method="post">
                <input type="hidden" name="state" value="notfound">
                <input type="submit" value="CAN'T FIND" />
            </form>
        </p>
    </body>
</html>
