{% extends "base.html" %}

{% block window_title %}FixMyStreet Game: Login{% endblock %}
{% block main_title %}FixMyStreet Game{% endblock %}
{% block subtitle %} A <a href="http://twitter.com/mysociety">mySociety</a> Christmas Afternoon Hacking Project{% endblock %}

{% block scripts %}
  {% if request.user.is_authenticated %}
    <script src=/static/js/external/jquery.js></script>
    <script src=/static/js/main.js></script>
  {% endif %}
{% endblock %}

{% block content %}
<img src="/static/fmsgame_trophy.png" alt="FixMyStreet Game">

<p>
  {% if not request.user.is_authenticated %}
    <a href="/openid/login">Login to play!</a>
  {% endif %}
</p>

<p>Welcome to our mobile game that's so Alpha it's almost Omega.</p>
<p>The game works as follows:</p>

<ol>
  <li>Go outside, or somewhere your phone can get GPS signal
  <li>Open this page (the one you're reading right now) on your Android/iPhone. Basically any phone with GPS and Google Maps.
  <li>Click below to Login by using a Google account
  <li>Allow the service to get your location (you might want to tick remember for this site - we'll be wanting this again)
  <li>Look at the map. It should show pins that represent FixMyStreet reports near you that we think might never have been fixed.
  <li>Walk, cycle or drive until you are at the site of the nearest pin.
  <li>Click on the pin on your map, and open the link.
  <li>Select whether the problem is now fixed, not fixed, or whether you can't find it.
  <li>Win points and appear on the League table.
</ol>


<p>Please email all complaints to /dev/null - we're going to the pub.</p>

<p>
  {% if request.user.is_authenticated %}
    <span id="autolocate_text" value="Locate me now!" />
    <div id="autolocate_ui">...loading...</div>
  {% else %}
    <a href="/openid/login">Login to play!</a>
  {% endif %}
</p>
{% endblock %}
