<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>FixMyStreet Game: Your score</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0" />        
    </head>
    <body>
        <h1>Your Score</h1>
        
        <p>You have {{ score }} point{{ score|pluralize }}.</p>
        
        <!--
        { if score == 0 }
            print "Haven't started"
        }
        -->
        {% if score %}
            <div style="border:2px solid #FFA500; padding: 8px">
                {% for i in range  %}
                    <img src="/static/fmsgame_trophy_score.png" alt="1 point" />
                {% endfor %}
            </div>
        {% endif %}
        <p>
            Back to <a href="/geolocate">the game!</a>
        </p>
    </body>
</html>
